# .dockerignore
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.vscode
.idea
venv
.venv
env
*.env
node_modules
webapp/node_modules
webapp/dist
web3d-landing/node_modules
web3d-landing/.next
*.log
